#pny {
      color:aqua;
      background-color:darkred;
      font-size:40px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      text-align:center;
}
.xyz {
       color:white;
       background-color:black;
       font-size:50px;
       font-family: cursive;
       text-align: center;
}

#borderimg1 {
              
    color:blue;
    font-size: 40px;
    text-align: center;
              
}